/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
    font-family: GothicBold;
    src: url(../fonts/gothicbold.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../BebasNeue.otf);
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    /*height: 100%;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

nav ul a,
nav .brand-logo {
    color: #84754E !important;
    font-family: GothicBold;
    background-color: black;
}

.nav-wrapper {
    background-color: black;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

a {
    text-decoration: none !important;
    color: #84754E;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    background-color: black;
    color: #84754E;
}

.name {
    color: black;
    -webkit-text-fill-color: #84754E;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: GothicBold;
    /* margin-top: 1.7em;*/
}

#product-head {
    color: black;
    -webkit-text-fill-color: black;
    /* Will override color (regardless of order) */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;*/
    font-family: GothicBold;
}

.page-footer {
    background-color: #84754E;
    color: black;
}

#index-banner {
    margin-top: 4em;
}

#download-button {
    background-color: #84754e;
}

#classic {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    right: 8vw;
    position: relative;
}

#logo-container {
    letter-spacing: 8px;
    position: fixed;
    left: 6vw;
}

.rainbow {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 3px 0 0 rgb(217, 31, 38), 6px 0 0 rgb(226, 91, 14), 9px 0 0 rgb(245, 221, 8), 12px 0 0 rgb(5, 148, 68), 15px 0 0 rgb(2, 135, 206), 18px 0 0 rgb(4, 77, 145), 21px 0 0 rgb(42, 21, 113);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: GothicBold;
    letter-spacing: 10px;
}

.rainbow:hover {
    text-shadow: -3px 0 0 rgb(217, 31, 38), -6px 0 0 rgb(226, 91, 14), -9px 0 0 rgb(245, 221, 8), -12px 0 0 rgb(5, 148, 68), -15px 0 0 rgb(2, 135, 206), -18px 0 0 rgb(4, 77, 145), -21px 0 0 rgb(42, 21, 113);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: GothicBold;
    letter-spacing: 10px;
}

.modal {
    max-height: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    position: fixed;
    top: 0 !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.fullscreen-bg__video {
    position: ;
    top: -10;
    width: 120vw;
    height: ;
    margin: 0px;
}

.subhead {
    font-weight: 4;
    font-size: 1.2em;
}

.toplogo {
    /*  position: absolute;
    left: -3.9em;
    top: -6.3em;*/
    /* -webkit-transform: scale(.1, .1);*/
    width: 45px;
    height: 45px;
    margin: 0 1em 0 1em;
    position: fixed;
    top: 1vh;
    z-index: 2;
}

#leaf {
    -webkit-transform: scale(.7, .7);
    margin-bottom: 0;
}

#potleaf {
    margin: 0 auto;
}

#leaf-text {
    margin-top: 0px;
}

#nug {
    -webkit-transform: scale(.2, .2);
}

.fa-flask {
    margin-bottom: .2em;
}

.verify {
    text-align: center;
    font-family: GothicBold;
    color: white;
}

.modal-content {
    margin-top: 8%;
    text-align: center;
    position: absolute;
    left: 12%;
}

#buttones {
    display: block;
    margin: 0 auto;
    color: white;
}

#aboutus {
    height: 7vh;
}

#top {
    visibility: none;
}

#beakers {}

.dispo {
    max-height: 40px !important;
}

#bg4 {
    transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
}

.centered {
    text-align: center;
}

.pennies {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.typog {
    position: relative;
    margin: auto;
}

.checkerpic {
    max-width: 700px;
    max-height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.disposable {
    transform: scale(.1) !important;
}

.typog {
    width: 70%;
    font-weight: 300;
    word-wrap: normal;
}

.checker,
.checker5,
.checker9 {
    height: 45vw;
    width: 50%;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    float: left;
    position: relative;
    border: 0 !important;
    padding: 5em;
    -webkit-box-shadow: inset -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: inset -5px 5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: inset -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -webkit-box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    /* font-family: Calibre,Helvetica Neue,Helvetica,sans-serif;*/
}

.checker2,
.checker6,
.checker0 {
    height: 45vw;
    width: 50%;
    background-color: #b4a47a;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    float: left;
    margin: 0 !important;
    border: 0 !important;
    font-size: 2em;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    /* font-family: Calibre,Helvetica Neue,Helvetica,sans-serif;*/
}

.checker3,
.checker7 {
    height: 45vw;
    width: 50%;
    float: left;
    background-color: #b4a47a;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: left;
    position: relative;
    margin: 0 !important;
    border: 0 !important;
    font-size: 2em;
    text-align: right;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
    /*   font-style: BebasNeue;*/
}

.checker4,
.checker8 {
    height: 45vw;
    width: 50%;
    float: left;
    background-color: white;
    padding: 5em;
    display: flex;
    align-content: center;
    justify-content: center;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: -5px 5px 5px 0px rgba(230, 230, 230, 1);
    -webkit-box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    box-shadow: inset -5px -5px 5px 0px rgba(230, 230, 230, 1);
    /* font-style: BebasNeue;
*/
}


/*Used to make the order show up correctly on mobile*/

.checker4,
.checker8 {
    float: right !important;
}


/*.checker5 {
    height: 45vw;
    width: 50%;
    background-color: black;
    display: inline-block;
    float:left;
    position: relative;
}

.checker6 {
    height: 45vw;
    width: 50%;
    background-color: #84754E;
    display: inline-block;
}

.checker7 {
    height: 45vw;
    width: 50%;
    float: left;
    background-color: #84754E;
    display: inline-block;
    position: relative;
}

.checker8 {
    height: 45vw;
    width: 50%;
    background-color: black;
    display: inline-block;
}*/


/*.checker9 {
    height: 45vw;
    width: 50%;
    background-color: black;
    display: inline-block;
    float:left;
    position: relative;
}

.checker0 {
    height: 45vw;
    width: 50%;
    background-color: #84754E;
    display: inline-block;
}*/

.product-header {
    text-align: center;
}

.pyramid-text {
    max-width: 50vw;
}

#logo-bar {
    display: block;
    max-width: 110vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-weight: 900;
}

.flex-row {
    display: flex;
    width: 100vw;
    align-content: space-between;
    justify-content: center;
}



.flexy{
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    * {}
    /*    #index-banner .section {
        top: 0;
    }*/
    #classic {
        display: none;
    }
    #disposable {
        display: none;
    }
    .checkers {
        font-size: 2.9vw;
    }
    h1 {
        font-size: 150%;
    }
    .checkers {
        min-height: 70vw;
        width: 100vw;
        display: inline-block;
        float: left;
        text-align: center;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .brand-logo {
        display: none;
        visibility: hidden;
    }
    h5 {
        font-size: .9em;
    }
}

@media only screen and (max-width: 992px) {
    /*  #index-banner .section {
        top: 10%;
    }*/
    #classic {
        display: none;
    }
    #disposable {
        display: none;
    }
    .checkers {
        max-height: 50vh;
        min-height: 70vw;
        width: 100vw;
        display: inline-block;
        float: left;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .checkerpic {
        max-width: 100vw;
        max-height: none;
        display: block;
        margin: 0 !important;
        padding: 0 !important;
    }
    .photobox {
        margin: 0 !important;
        padding: 0 !important;
    }
    .brand-logo {
        display: none;
        visibility: hidden;
    }
    .pyramid-text {
        max-width: 60vw;
    }
    .pennies {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .checkerpic {
        margin: 0;
    }
}

#mobile-demo {
    color: #84754E !important;
}


/*@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .connect {
        text-align: center;
    }
    .left {
        text-align: left;
    }*/


/*.toplogo{
            position: absolute;
    left: -8.9em;
    top: -6.8em;
    -webkit-transform: scale(.1, .1);
    z-index: 2;
    }*/


/*
    #logo-container {
        display: none;
    }
    .typog {
        font-size: 10px;
        word-wrap: break-word;
        padding: 3vw;
    }
}
*/
